<h1><center><u>History of Fogbugz ID *ID goes here*: *Title goes here*</center></u></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Feature</th>
      <th>Estimated Time (hours)</th>
      <th>Current Time (hours)</th>
      <th>Resolved?</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>
      </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Hours Spent</th>
      <th>Date</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @big_time_entries.each do |big_time_entry| %>
      <tr>
        <td><%= big_time_entry.person %></td>
        <td><%= big_time_entry.hours %></td>
        <td><%= big_time_entry.WorkDate %></td>
        <td><%= big_time_entry.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
